<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>< 해저케이블 현황 ></title>
</head>
<body>

<div class="container">
    <div>
        <h1> < 해저케이블 현황 > </h1>
        <form>
            <div class="form-group">
                <label for="subCableName">해저케이블명</label>
                <input id="subCableName" name="subCableName">
            </div>
            <button type="submit">조회</button>
        </form>
    </div>

    <div>
        <table>
            <thead>
            <tr>
                <th>#</th>
                <th>이름</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="subCable : ${subCableList}">
                <td th:text="${subCable.id}"></td>
                <td th:text="${subCable.subCableName}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>  <!-- /container -->

</body>
</html>